@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    /* #050505 */
    --foreground: 0 0% 98%;
    /* #FAFAFA */
  }

  html {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    overflow-x: hidden;
    max-width: 100vw;
    -webkit-text-size-adjust: 100%;
  }
}